@import url("fontello.css");
@import url(./normalize.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
  color: #181818; 
  font-family: 'Spoqa Han Sans';
  font-weight: 400;
  background: url(./images/bg_flower.png) no-repeat 50% 0 scroll, #fff linear-gradient(to bottom, #ccc 0%, #fff 70%, #fff 100%);
}

*, *::before, *::after {
  box-sizing: border-box;
}
/* 숨김 콘텐츠 */
.a11y-hidden, legend {
  width: 1px;
  height: 1px;
  margin: -1px;
  position: absolute;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

/* 레이아웃 */
.container {
  /* background-color: #ccc; */
}

.header,
.visual,
.main,
.slogan,
.footer {
  width: 940px;
  margin: 0 auto;
}

/* 헤더 영역 */
.header {
  background-color: #fff;
  padding: 1px 30px;
  position: relative;
  border-radius: 0 0 15px 15px;
}
/* 로고 */
.logo {
  position: absolute;
  top: 26px;
  left: 60px;
}
/* 멤버링크 */
.member {
  list-style: none;
  padding-left: 0;;
  margin-right: -8px;
  font-size: 0;
  text-align: right;
}
.member li {
  display: inline-block;
  padding: 2px 0;
  font-size: 1.4rem;
  text-transform: uppercase;
}
.member li a, .member li span{
  display: inline-block;
}
.member li a {
  text-decoration: none;
  padding: 8px 10px;
  cursor: pointer;
  color: inherit;
}
/* 메인메뉴 */
.menu {
  background: rgb(255, 102, 0) linear-gradient(to bottom, #ff9100 0%,#e65400 35%,#e65400 70%,#ff9100 100%);
  height: 50px;
  padding: 0 0 0 225px;
  list-style-type: none;
  margin: 0 0 35px 0;  
  border-top: 2px solid #000;
}
.menu-item {
  float: left;
  position: relative;
}
.btn-menu {
  border: 0;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 48px;
  padding: 0 20px;
  background-color: inherit;
  color: #fff;
  border-left: 2px solid rgba(255, 255, 255, 0.85);
  cursor: pointer;
  text-shadow: 1px 0px 0 #000, 0px 1px 0 #000 , -1px 0px 0 #000 , 0px -1px 0 #000;
}
.menu-act .btn-menu {
  color: #ff0;
}
.menu-act .btn-menu::after {
  content: "";
  display: block;
  height: 2px;
  background-color: #000;
}
.sub-menu {
  position: absolute;
  list-style: none;
  white-space: nowrap;
  padding-left: 0;
  font-size: 1.4rem;
}
.sub-menu a {
  padding: 8px 0;
  margin-right: 1em;
}
.sub-menu1, .sub-menu2, .sub-menu3 {
  left: 0;
}
.sub-menu4, .sub-menu5, .sub-menu6 {
  right: 0;
}
.sub-menu li, .sub-menu a{
  display: inline-block;
}
.sub-menu a {
  text-decoration: none;
  color: inherit;
}

.sub-menu a::before {
  content: '\f192';
  font-family: 'fontello';
  display: inline-block;
  width: 1em;
  margin-right: .2em;
  margin-left: .2em;
}
.sub-menu a:hover::before,
.sub-menu a:focus::before {
  content: '\e800';
}
.sub-menu a:hover,
.sub-menu a:focus {
  color: #f00;
}
.sub-menu {
  display: none; /* 선택되지 않을 때는 서브메뉴 안보이게 */
}

.menu-act .sub-menu {
  display: block;  /* 선택되면 서브메뉴 보이게 */
}

/* 비주얼 영역 */
.visual {
  height: 120px; /* 높이가 일정하며 바뀌지 않기 때문에 height값을 지정해줌 */
  position: relative;
}
@keyframes textAni {
  0% {
    font-size: 12px;
    transform: translate(0, 0);
    color: rgba(0, 0, 0, 0);
  }
  100% {
    font-size: 24px;
    transform: translate(400px, 75px);
    color: rgba(0, 0, 0, 1);
  }
}
@keyframes bgAni {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.visual-text {
  width: 500px;
  font-size: 2.4rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  animation: textAni 2000ms ease-in-out forwards;
}
.visual::before, .visual::after {
  animation: bgAni 2000ms ease-in-out infinite alternate;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}
.visual::before {
  background-image: url(./images/ani_flower_01.png), url(./images/ani_flower_02.png);
  background-position: 0 -10px, 670px 0;
}
.visual::after {
  background-image: url(./images/ani_flower_03.png), url(./images/ani_flower_04.png);
  background-position: 300px 0, 800px 0;
  animation-delay: 1000ms;
}

/* 메인 영역 */
.main {
  background-color: blue;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px;
  min-height: 450px;  /* 영역의 최소 높이를 지정해줘서 콘텐츠가 부족해도 450px 미만으로 줄지 않게 함*/
}
.group1 {
  width: 250px;
}
.group2 {
  background-color: yellowgreen;
  width: 380px;
}
.group3 {
  background-color: dodgerblue;
  width: 190px;
}
/* 로그인 영역 */
.login {
  padding: 10px;
  border-radius: 5px;
  background-color: #e65400;
  background-image: radial-gradient(circle at right top, #ff9100, #e65400);
  box-shadow: 5px 5px 0 0 #bbb;
  width: calc(100% - 5px);
}
.login-heading {
  font-weight: 700;
  font-size: 1.5rem;
  color: #ff0;
  margin: 0;
  padding-left: 10px;
  margin-bottom: 10px;
}
.login-form {
  background-color: #fff;
  border-radius: 5px 5px 0 0;
  padding: 10px 10px 0 10px;
}
.login-form fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  font-size: 1.4rem;
  position: relative;
  padding-bottom: 5px;
  border-bottom: 1px solid #aaa;
}
.login-form div {
  width: 150px;
  margin-bottom: 5px;
}
.login-form label {
  width: 55px;
  display: inline-block;
}
.login-form input {
  width: 90px;
  height: 24px;
  padding: 1px 1px 1px 0.5em;
  border-radius: 0;
  border: 1px solid #aaa;
}
.btn-login {
  border: 0;
  width: 50px;
  height: 52px;
  padding: 5px;
  color: #fff;
  border-radius: 3px;
  background-color: #e65400;
  font-size: 1.3rem;
  position: absolute;
  right: 0;
  top: 0;
}

.member-only {
  list-style: none;
  background-color: #fff;
  margin: 0;
  padding: 10px;
  font-size: 1.3rem;
  border-radius: 0 0 5px 5px;
}
.member-only li:first-child {
  float: left;
}
.member-only li:last-child {
  float: right;
}
.member-only a {
  text-decoration: none;
  color: inherit;
  padding-top: 5px;
  padding-bottom: 5px;
}
.member-only a::before {
  font-family: 'fontello';
  content: '\e803';
  display: inline-block;
  width: 1em;
  margin-right: .2em;
  color: #e65400;
}
.member-only::after {
  content: "";
  display: block;
  clear: both;
}
/* 유효성 검사 배너 */
.validation-list {
  margin-top: 25px;
  padding: 0;
  list-style: none;
}
.validation-list a {
  text-decoration: none;
  color: inherit;
  display: block;
  background-color: #ccc;
  background-image: url(./images/validation_icon.png), linear-gradient(180deg, #bbb, #eee);
  background-repeat: no-repeat, repeat;
  background-position: 15px 50%,  0 0;
  margin-top: 10px;
  padding: 8px 10px 8px 45px;
  border-radius: 20px;
  border: 1px solid #aaa;
}

/* 웹 관련 용어 */
.term {
  padding: 15px;
  background-color: yellow;
  margin-top: 20px;
  border-radius: 5px;
  background: linear-gradient(180deg, #bbb, #eee);
  border: 1px solid #aaa;
}
.term-heading {
  font-size: 1.6rem;
  font-weight: 700;
  margin: 0;
}
.term-list {
  margin-top: 10px;
  margin-bottom: 0;
}
.term-list > div {
  margin-top: 10px;
  font-size: 1.4rem;
}
.term-list > div::after {
  content: "";
  display: block;
  clear: both;
}
.term-list-subject, .term-list-brief {
  float: right;
  width: 145px;
}
.term-list-thumbnail {
  margin-left: 0;
  float: left;
}
.term-list-subject {
  color: #3460f0;
}
.term-list-brief {
  margin: 0;
  margin-top: 5px;
}
.term-list-brief a{
  text-decoration: none;
  color: inherit;
}

/* 슬로건 */
.slogan {
  background-color: orange;
}
/* 푸터 영역 */
.footer-bg {
  background-color: green;
}
.footer {
  background-color: violet;
}