@import url(./normalize.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
  color: #181818; 
  background:#fff;
  font-family: 'Spoqa Han Sans';
  font-weight: 400;
}

*, *::before, *::after {
  box-sizing: border-box;
}

/* 레이아웃 */
.container {
  background-color: #ccc;
}

.header,
.visual,
.main,
.slogan,
.footer {
  width: 940px;
  margin: 0 auto;
}

.header {
  background-color: yellow;
}
.visual {
  background-color: lime;
  height: 120px; /* 높이가 일정하며 바뀌지 않기 때문에 height값을 지정해줌 */
}
.main {
  background-color: blue;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px;
  min-height: 450px;  /* 영역의 최소 높이를 지정해줘서 콘텐츠가 부족해도 450px 미만으로 줄지 않게 함*/
}
.group1 {
  background-color: tomato;
  width: 250px;
}
.group2 {
  background-color: yellowgreen;
  width: 380px;
}
.group3 {
  background-color: dodgerblue;
  width: 190px;
}
.slogan {
  background-color: orange;
}
.footer-bg {
  background-color: green;
}
.footer {
  background-color: violet;
}